@charset "UTF-8";
@import url(../css/common.css);
@import url(../css/reset.css);
:root { --bg-col-01:#fff; --bg-col-02:#fff; --bg-col-03:#fff; --bg-col-04:#000; --bg-col-05:#eee; --bg-col-06:#eee; --bg-col-07:#f4f4f4; --bg-col-08:#eee; --bg-col-09:#dfdfdf; --bg-col-10:#444; --txt-col-01:#000; --txt-col-02:#333; --txt-col-03:#888; --txt-col-04:#111; --txt-col-05:#eee; --txt-col-06:#666; --txt-col-07:#666; --txt-col-08:#fff; --txt-col-09:#333; --txt-col-10:#333; --txt-col-11:#333; --bd-col-01:#ededed; }

body.dark { --bg-col-01:#000; --bg-col-02:#222224; --bg-col-03:#111; --bg-col-04:#fff; --bg-col-05:#222224; --bg-col-06:#444; --bg-col-07:#333; --bg-col-08:#333; --bg-col-09:#444; --bg-col-10:#dfdfdf; --txt-col-01:#fff; --txt-col-02:#fff; --txt-col-03:#888; --txt-col-04:#fff; --txt-col-05:#333; --txt-col-06:#777; --txt-col-07:#fff; --txt-col-08:#000; --txt-col-09:#f3f3f3; --txt-col-10:#bbb; --txt-col-11:#888; --bd-col-01:#111; }

/*반응형 화면 크기*/
@font-face { font-family: 'Noto Sans KR', sans-serif; src: url("../font/Noto Sans KR Regular.eot"); src: url("../font/Noto Sans KR Regular.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Regular.svg#Noto Sans KR Regular") format("svg"), url("../font/Noto Sans KR Regular.ttf") format("truetype"), url("../font/Noto Sans KR Regular.woff") format("woff"), url("../font/Noto Sans KR Regular.woff2") format("woff2"); font-weight: 400; }

@font-face { font-family: 'Noto Sans KR'; src: url("../font/Noto Sans KR Light.eot"); src: url("../font/Noto Sans KR Light.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Light.svg#Noto Sans KR Light") format("svg"), url("../font/Noto Sans KR Light.ttf") format("truetype"), url("../font/Noto Sans KR Light.woff") format("woff"), url("../font/Noto Sans KR Light.woff2") format("woff2"); font-weight: 300; }

@font-face { font-family: 'Noto Sans KR'; src: url("../font/Noto Sans KR Medium.eot"); src: url("../font/Noto Sans KR Medium.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Medium.svg#Noto Sans KR Medium") format("svg"), url("../font/Noto Sans KR Medium.ttf") format("truetype"), url("../font/Noto Sans KR Medium.woff") format("woff"), url("../font/Noto Sans KR Medium.woff2") format("woff2"); font-weight: 500; }

@font-face { font-family: 'Noto Sans KR'; src: url("../font/Noto Sans KR Bold.eot"); src: url("../font/Noto Sans KR Bold.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Bold.svg#Noto Sans KR Bold") format("svg"), url("../font/Noto Sans KR Bold.ttf") format("truetype"), url("../font/Noto Sans KR Bold.woff") format("woff"), url("../font/Noto Sans KR Bold.woff2") format("woff2"); font-weight: 700; }

body { font-family: 'Noto Sans KR', sans-serif; color: var(--txt-col-02); background-color: var(--bg-col-01); overflow-x: hidden; overflow-y: scroll; }

body.noscroll .wrapper { height: 100vh; overflow: hidden; }

.inner { width: 100%; max-width: 1296px; margin: 0 auto; font-size: 14px; line-height: 1.5; font-weight: 400; }

@media (max-width: 1440px) { .inner { max-width: 952px; } }

@media (max-width: 1023px) { .inner { max-width: 630px; } }

@media (max-width: 767px) { .inner { max-width: 364px; padding: 0 24px; } }

main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 72px; }

main .inner { position: relative; width: 100%; }

@media (max-width: 1023px) { main { margin-top: 60px; } }

header { position: fixed; left: 0; top: 0; z-index: 222; width: 100%; background-color: var(--bg-col-01); -webkit-transition: top .5s; transition: top .5s; }

header.bdbottom { border-bottom: 1px solid var(--bd-col-01); }

header.hide { top: -72px; }

header .inner { height: 72px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }

@media (max-width: 1023px) { header .inner { height: 60px; } }

header .logo a { display: block; width: 74px; height: 24px; }

header .logo a .ico_logo { display: block; width: 100%; }

header .logo a .ico_logo .path[data-v-37d948ec] { fill: var(--txt-col-01); }

header .gnb-area-pc { height: 100%; font-weight: bold; margin-left: 100px; letter-spacing: -.5px; }

header .gnb-area-pc .gnb-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 100%; }

header .gnb-area-pc .gnb-list .gnb-item { position: relative; }

header .gnb-area-pc .gnb-list .gnb-item a { display: block; padding: 0 28px; line-height: 72px; font-size: 16px; font-weight: bold; color: var(--txt-col-01); }

header .gnb-area-pc .gnb-list .gnb-item a:hover { color: var(--txt-col-01); }

header .gnb-area-pc .gnb-list .gnb-item .cont { display: none; position: absolute; top: 60px; left: 4px; padding: 0 24.5px; background: var(--bg-col-04); border-radius: 24px; white-space: nowrap; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 100; }

header .gnb-area-pc .gnb-list .gnb-item .cont.on { display: -webkit-box; display: -ms-flexbox; display: flex; }

header .gnb-area-pc .gnb-list .gnb-item .cont li + li { margin-left: 24px; }

header .gnb-area-pc .gnb-list .gnb-item .cont li a { display: block; padding: 11px 0 13px; line-height: 24px; font-weight: 500; color: var(--txt-col-05); }

header .gnb-area-pc .gnb-list:hover a { color: var(--txt-col-03); }

@media (max-width: 1023px) { header .gnb-area-pc { display: none; } }

header .nav-ham { display: none; overflow-y: scroll; position: fixed; top: 0; left: 100%; z-index: 99999; background-color: var(--bg-col-03); width: 100%; height: 100%; -webkit-transition: .3s; transition: .3s; }

@media (max-width: 1023px) { header .nav-ham { display: block; } }

header .nav-ham.on { left: 0; }

header .nav-ham .btn-close { position: absolute; top: 18px; right: 24px; width: 28px; height: 28px; }

header .nav-ham .btn-close .ico_close { stroke: var(--txt-col-02); }

header .nav-ham .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; position: relative; max-width: 412px; height: 100%; }

@media (max-width: 767px) { header .nav-ham .inner { max-width: 364px; padding: 0 24px; } }

header .nav-ham .logo { -ms-flex-item-align: start; -ms-grid-row-align: start; align-self: start; padding: 18px 0; }

header .nav-ham .gnb-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 47px 0 66px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; }

header .nav-ham .gnb-list .gnb-item { width: 100%; }

header .nav-ham .gnb-list .gnb-item + li { margin-top: 36px; }

header .nav-ham .gnb-list .gnb-item .gnb_title { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; }

header .nav-ham .gnb-list .gnb-item .gnb_title::before { content: ''; display: inline-block; width: 48px; height: 48px; margin-top: 2px; vertical-align: top; }

header .nav-ham .gnb-list .gnb-item .gnb_title.tit01::before { background: url(../image/hd/ham_kakao.png) center/cover no-repeat; }

header .nav-ham .gnb-list .gnb-item .gnb_title.tit02::before { background: url(../image/hd/ham_news.png) center/cover no-repeat; }

header .nav-ham .gnb-list .gnb-item .gnb_title.tit03::before { background: url(../image/hd/ham_service.png) center/cover no-repeat; }

header .nav-ham .gnb-list .gnb-item .gnb_title.tit04::before { background: url(../image/hd/ham_promise.png) center/cover no-repeat; }

header .nav-ham .gnb-list .gnb-item .gnb_title.on span.down::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); margin-top: 18px; }

header .nav-ham .gnb-list .gnb-item img { width: 48px; height: 48px; margin-top: 2px; }

header .nav-ham .gnb-list .gnb-item span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-left: 16px; line-height: 52px; font-size: 36px; font-weight: 700; letter-spacing: -.8px; color: var(--txt-col-01); }

header .nav-ham .gnb-list .gnb-item span.down::after { content: ''; display: inline-block; margin: 24px 0 0 14px; border: 5px solid transparent; border-top: 5px solid #333; vertical-align: top; }

header .nav-ham .gnb-list .gnb_cont { display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 21px 0 0px 68px; }

header .nav-ham .gnb-list .gnb_cont li + li { margin-top: 14px; }

header .nav-ham .gnb-list .gnb_cont a { display: inline-block; padding: 13px 20px 15px; background: var(--bg-col-06); border-radius: 30px; line-height: 27px; font-size: 18px; font-weight: 700; letter-spacing: -.16px; color: var(--txt-col-01); }

header .nav-ham .gnb-list .gnb_cont.on { display: -webkit-box; display: -ms-flexbox; display: flex; }

header .nav-ham .ham_bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; padding-bottom: 36px; }

header .nav-ham .ham_bottom .bt_cc .cc_cont { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header .nav-ham .ham_bottom .bt_cc .cc_cont li + li { margin-left: 20px; }

header .nav-ham .ham_bottom .bt_cc .cc_cont li.cc_wrap { position: relative; }

header .nav-ham .ham_bottom .bt_cc .cc_cont a { display: block; letter-spacing: -.2px; color: var(--txt-col-02); }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_title .ico_arrow { width: 9px; height: 9px; margin: 1px 0 0 1px; }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_title .ico_arrow .stroke { stroke: var(--txt-col-01); }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_title.on { color: var(--txt-col-02); }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_title.on .ico_arrow { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_title.on .stroke { stroke: var(--txt-col-01); }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_cont { display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; left: 0px; bottom: 24px; width: 123px; padding: 14px 0; background: var(--bg-col-05); border-radius: 12px; font-size: 12px; }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_cont.on { display: -webkit-box; display: -ms-flexbox; display: flex; }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_cont .sub_link { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 14px; color: #666; letter-spacing: -.2px; }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_cont .sub_link:hover { color: #111; }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_cont .sub_link:hover .ico_outlink { stroke: #333; }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_cont .sub_link + a { margin-top: 12px; }

header .nav-ham .ham_bottom .bt_cc .cc_cont .link_cont .ico_outlink { width: 9px; height: 9px; margin: 6px 0 0 4px; stroke: #999; }

header .nav-ham .ham_bottom .bt_util .lang_btn { margin-left: 20px; }

header .nav-ham .ham_bottom svg { width: 28px; height: 28px; }

header .util_area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

header .util_area .search-area .search_wrap { overflow-y: scroll; display: none; position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; z-index: 99999; opacity: 0; }

header .util_area .search-area .search_wrap .top_box { width: 100%; height: 400px; background-color: var(--bg-col-01); }

header .util_area .search-area .search_wrap .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; height: 100vh; }

header .util_area .search-area .search_wrap::before { content: ''; position: absolute; left: 0; top: 400px; z-index: -1; width: 100vw; height: 100vh; opacity: 0.9; background-color: var(--bg-col-01); -webkit-transition: opacity .6s; transition: opacity .6s; }

header .util_area .search-area .search_wrap .search_content { width: 100%; padding: 120px 0; background: url(../image/hd/srh_jordi.png) no-repeat top 96px right 50px; background-size: 162px 178px; }

header .util_area .search-area .search_wrap .search_content .search .ico_search_bold { width: 28px; height: 28px; position: absolute; left: 24px; top: 18px; }

header .util_area .search-area .search_wrap .search_content .search .ico_search_bold .stroke { stroke: var(--bg-col-01); }

header .util_area .search-area .search_wrap .search_content .search form { position: relative; width: 823px; margin: 0 auto; }

header .util_area .search-area .search_wrap .search_content .search .srh_txt { width: 100%; padding: 20px 24px 20px 64px; border: 0; outline: 0; background: url(../image/hd/balloon_long01.svg) no-repeat; line-height: 32px; font-size: 22px; font-weight: 700; color: var(--baseBackground); letter-spacing: -.6px; -webkit-box-sizing: border-box; box-sizing: border-box; }

header .util_area .search-area .search_wrap .search_content .search ::-webkit-input-placeholder { color: #fff; font-weight: bold; font-size: 18px; }

header .util_area .search-area .search_wrap .search_content .search :-ms-input-placeholder { color: #fff; font-weight: bold; font-size: 18px; }

header .util_area .search-area .search_wrap .search_content .search ::-ms-input-placeholder { color: #fff; font-weight: bold; font-size: 18px; }

header .util_area .search-area .search_wrap .search_content .search ::placeholder { color: #fff; font-weight: bold; font-size: 18px; }

header .util_area .search-area .search_wrap .search_content .hash_wrap { max-width: 600px; margin: 30px auto 0; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

header .util_area .search-area .search_wrap .search_content .hash_wrap .hash_tag { height: 34px; margin-right: 6px; padding: 0 15px; border-radius: 34px; font-size: 13px; line-height: 34px; vertical-align: top; letter-spacing: -.5px; background-color: var(--bg-col-08); }

header .util_area .search-area .search_wrap .search_content .hash_wrap .hash_tag:hover { background-color: var(--bg-col-09); }

header .util_area .search-area .search_wrap .logo { -ms-flex-item-align: start; align-self: flex-start; padding: 24px 0; }

header .util_area .search-area .search_wrap .logo a { display: block; width: 74px; height: 24px; }

header .util_area .search-area .search_wrap .btn-close { position: absolute; top: 18px; right: 0px; width: 28px; height: 28px; }

header .util_area .search-area .search_wrap .btn-close .ico_close { stroke: var(--txt-col-09); }

@media (max-width: 1440px) { header .util_area .search-area .search_wrap .search_content { padding: 96px 0; background-position: top 72px right 30px; background-size: 132px 146px; }
  header .util_area .search-area .search_wrap .search_content .search form { position: relative; width: 600px; margin: 0 auto; }
  header .util_area .search-area .search_wrap .search_content .search .srh_txt { padding: 18px 24px 18px 60px; background: url(../image/hd/balloon_long02.svg) no-repeat; line-height: 24px; font-size: 18px; letter-spacing: -.5px; } }

@media (max-width: 1023px) { header .util_area .search-area .search_wrap .search_content { padding: 84px 0; background-position: top 78px right; background-size: 96px 106px; }
  header .util_area .search-area .search_wrap .search_content .search form { width: 450px; margin: 0 0 0 80px; }
  header .util_area .search-area .search_wrap .search_content .search .srh_txt { background: url(../image/hd/balloon_long03.svg) no-repeat; }
  header .util_area .search-area .search_wrap .search_content .hash_wrap { max-width: 352px; }
  header .util_area .search-area .search_wrap .search_content .hash_wrap .hash_tag.last { margin-top: 6px; }
  header .util_area .search-area .search_wrap .logo { padding: 18px 0; } }

@media (max-width: 767px) { header .util_area .search-area .search_wrap .search_content { padding: 72px 0; background-position: top 65px right; background-size: 63px 70px; }
  header .util_area .search-area .search_wrap .search_content .search form { position: relative; width: 81.35%; margin: 0; }
  header .util_area .search-area .search_wrap .search_content .search .srh_txt { background-color: #333; background-image: none; border-radius: 22px; height: 60px; }
  header .util_area .search-area .search_wrap .search_content .hash_wrap { max-width: 352px; }
  header .util_area .search-area .search_wrap .search_content .hash_wrap .hash_tag.last { margin-top: 6px; } }

@media (max-width: 1023px) { header .util_area .search-area .btn-srh { margin-top: 3px; } }

header .util_area a { display: block; width: 36px; height: 36px; border-radius: 18px; text-align: center; line-height: 3.5em; }

header .util_area a:hover { background-color: var(--bg-col-05); }

header .util_area a svg { width: 24px; height: 24px; }

@media (max-width: 1023px) { header .util_area a svg { width: 28px; height: 28px; } }

header .util_area a.btn-hamburger-mb { display: none; }

header .util_area a.btn-lang, header .util_area a.btn-dark, header .util_area a.btn-hamburger-mb { margin-left: 12px; }

@media (max-width: 1023px) { header .util_area a.btn-lang, header .util_area a.btn-dark { display: none; }
  header .util_area a.btn-hamburger-mb { display: block; margin-top: 3px; margin-left: 20px; } }

footer { border-top: 1px solid var(--bd-col-01); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 37px 0 48px; background-color: var(--bg-col-03); }

@media (max-width: 1023px) { footer { padding: 0; border-top: none; } }

footer .top_area .serv-list { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .top_area .serv-list .serv-item { width: calc(100% / 6); }

footer .top_area .serv-list .group_serv { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

footer .top_area .serv-list .group_serv .serv-item { width: 100%; }

footer .top_area .serv-list .group_serv .serv-item.inline { margin-top: 36px; }

footer .top_area .serv-list .group_serv .serv-item .ico_outlink { margin: 6px 0 0 4px; width: 9px; height: 9px; }

footer .top_area .serv-list .list_title { font-weight: bold; position: relative; color: var(--txt-col-01); }

footer .top_area .serv-list .list_title .ico_arrow { display: none; }

footer .top_area .serv-list .list_title:hover::before { content: ''; position: absolute; top: 7px; left: -16px; width: 6px; height: 6px; border-radius: 50%; background: #ffcd00; vertical-align: top; }

footer .top_area .serv-list .list_cont li { margin-top: 12px; color: #888; }

footer .top_area .serv-list .list_cont li a .ico_outlink { stroke: var(--txt-col-11); }

footer .top_area .serv-list .list_cont li:hover a { color: var(--txt-col-04); }

footer .top_area .serv-list .list_cont li:hover .ico_outlink { stroke: var(--txt-col-11); }

@media (max-width: 1023px) { footer .top_area .serv-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-top: 1px solid #e6e6e6; }
  footer .top_area .serv-list .serv-item { width: 100%; }
  footer .top_area .serv-list .serv-item .list_title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 13px 0 15px; line-height: 20px; border-bottom: 1px solid #e6e6e6; }
  footer .top_area .serv-list .serv-item .list_title.rotate .ico_arrow { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
  footer .top_area .serv-list .serv-item .list_title .ico_arrow { display: block; width: 14px; height: 14px; margin: 4px 12px 0 0; }
  footer .top_area .serv-list .serv-item .list_title .ico_arrow .stroke { stroke: #888; }
  footer .top_area .serv-list .serv-item .list_title .ico_outlink { display: block; width: 14px; height: 14px; margin-right: 12px; stroke: #888; }
  footer .top_area .serv-list .serv-item .list_title:hover::before { content: normal; }
  footer .top_area .serv-list .serv-item .list_title.on .ico_arrow { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  footer .top_area .serv-list .serv-item .list_title.on.rotate .ico_arrow { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
  footer .top_area .serv-list .serv-item .list_cont { display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-bottom: 18px; border-bottom: 1px solid #e6e6e6; }
  footer .top_area .serv-list .serv-item .list_cont.on { display: -webkit-box; display: -ms-flexbox; display: flex; }
  footer .top_area .serv-list .serv-item .list_cont li:hover a { color: #111; }
  footer .top_area .serv-list .serv-item .list_cont li:hover .ico_outlink { stroke: #333; }
  footer .top_area .serv-list .serv-item .list_cont a { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 6px 12px; line-height: 20px; color: #666; letter-spacing: -.2px; }
  footer .top_area .serv-list .serv-item .list_cont .ico_outlink { display: block; width: 9px; height: 9px; margin: 6px 0 0 4px; stroke: #999; }
  footer .top_area .serv-list .group_serv .serv-item.inline { margin-top: 0; } }

footer .bottom_area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 120px; font-size: 12px; letter-spacing: -.2px; }

@media (max-width: 1023px) { footer .bottom_area { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 45px; } }

footer .bottom_area .ft_policy { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .bottom_area .ft_policy .policy_wrap { position: relative; line-height: 18px; }

footer .bottom_area .ft_policy .policy_wrap + .policy_wrap { margin-left: 24px; }

footer .bottom_area .ft_policy .policy_wrap .link_title { color: #888; }

footer .bottom_area .ft_policy .policy_wrap .link_title:hover { color: var(--txt-col-09); }

footer .bottom_area .ft_policy .policy_wrap .link_title.bold { color: var(--txt-col-10); }

footer .bottom_area .ft_policy .policy_wrap .link_title.on { color: var(--txt-col-09); }

footer .bottom_area .ft_policy .policy_wrap .link_title.on .ico_arrow { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

footer .bottom_area .ft_policy .policy_wrap .link_title.on .stroke { stroke: var(--txt-col-09); }

footer .bottom_area .ft_policy .policy_wrap .link_cont { bottom: 48px; }

footer .bottom_area .site_link { position: relative; width: 208px; }

footer .bottom_area .site_link .link_title { display: block; padding: 10px 20px 12px; background: var(--bg-col-08); border-radius: 24px; font-size: 12px; font-weight: 400; color: var(--colorFg4); line-height: 18px; letter-spacing: -.2px; }

footer .bottom_area .site_link .link_title .ico_plus { float: right; width: 14px; height: 14px; margin-top: 3px; fill: #666; }

footer .bottom_area .site_link .link_title.on .ico_plus { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

footer .bottom_area .site_link .link_cont { width: 100%; bottom: 52px; }

footer .bottom_area .copy { width: 100%; color: #888; margin-top: 12px; }

footer .bottom_area .link_title .ico_arrow { width: 9px; height: 9px; }

footer .bottom_area .link_title .ico_arrow .stroke { stroke: #999; }

footer .bottom_area .link_title:hover .ico_arrow { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

footer .bottom_area .link_title:hover .stroke { stroke: #000; }

footer .bottom_area .link_cont { display: none; position: absolute; left: 0; padding: 16px 0; background: var(--bg-col-08); border-radius: 12px; }

footer .bottom_area .link_cont.on { display: block; }

footer .bottom_area .link_cont .sub_link { display: block; padding: 0 20px; color: #666; white-space: nowrap; }

footer .bottom_area .link_cont .sub_link .ico_outlink { width: 9px; height: 9px; margin: 5px 0 0 4px; stroke: #999; stroke-width: 1.3; }

footer .bottom_area .link_cont .sub_link:hover { color: #111; }

footer .bottom_area .link_cont .sub_link:hover .ico_outlink { stroke: #333; }

footer .bottom_area .link_cont .sub_link + a { margin-top: 12px; }

@media (max-width: 1440px) { footer .bottom_area .ft_policy { width: 550px; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  footer .bottom_area .ft_policy .policy_wrap:nth-child(6) { margin-left: 0; }
  footer .bottom_area .ft_policy .policy_wrap:nth-child(n+6) { margin-top: 6px; }
  footer .bottom_area .ft_policy .policy_wrap .link_cont { bottom: 30px; }
  footer .bottom_area .site_link { width: 298px; } }

@media (max-width: 1023px) { footer .bottom_area .ft_policy { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  footer .bottom_area .ft_policy .policy_wrap { width: 50%; margin-top: 15px; }
  footer .bottom_area .ft_policy .policy_wrap:nth-child(n+6) { margin-top: 15px; }
  footer .bottom_area .ft_policy .policy_wrap + .policy_wrap { margin-left: 0; }
  footer .bottom_area .ft_policy .policy_wrap .link_cont { bottom: 30px; }
  footer .bottom_area .site_link { width: 297px; -ms-flex-item-align: end; align-self: flex-end; margin-top: 58px; }
  footer .bottom_area .copy { position: relative; top: -45px; display: inline-block; width: 50%; } }

@media (max-width: 767px) { footer .bottom_area .site_link { width: 100%; -ms-flex-item-align: start; -ms-grid-row-align: start; align-self: start; }
  footer .bottom_area .copy { position: none; top: 0; display: inline-block; width: 100%; margin: 48px 0; } }
