:root{
    --bg-col-01:#fff;
    --bg-col-02:#fff;
    --bg-col-03:#fff;
    --bg-col-04:#000;
    --bg-col-05:#eee;
    --bg-col-06:#eee;
    --bg-col-07:#f4f4f4;
    --bg-col-08:#eee;
    --bg-col-09:#dfdfdf;
    --bg-col-10:#444;

    --txt-col-01:#000;
    --txt-col-02:#333;
    --txt-col-03:#888;
    --txt-col-04:#111;
    --txt-col-05:#eee;
    --txt-col-06:#666;
    --txt-col-07:#666;
    --txt-col-08:#fff;
    --txt-col-09:#333;
    --txt-col-10:#333;
    --txt-col-11:#333;

    --bd-col-01:#ededed;
}

body.dark{
    --bg-col-01:#000;
    --bg-col-02:#222224;
    --bg-col-03:#111;
    --bg-col-04:#fff;
    --bg-col-05:#222224;
    --bg-col-06:#444;
    --bg-col-07:#333;
    --bg-col-08:#333;
    --bg-col-09:#444;
    --bg-col-10:#dfdfdf;

    --txt-col-01:#fff;
    --txt-col-02:#fff;
    --txt-col-03:#888;
    --txt-col-04:#fff;
    --txt-col-05:#333;
    --txt-col-06:#777;
    --txt-col-07:#fff;
    --txt-col-08:#000;
    --txt-col-09:#f3f3f3;
    --txt-col-10:#bbb;
    --txt-col-11:#888;

    --bd-col-01:#111;
}